{% extends "base.njk" %}
{% block title %}
  Calories
{% endblock %}
{% block body %}
  <div class="date-select padding-1 block">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-left-icon lucide-chevron-left">
      <path d="m15 18-6-6 6-6"/>
    </svg>
    <span>4/28/2026</span>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-right-icon lucide-chevron-right">
      <path d="m9 18 6-6-6-6"/>
    </svg>
  </div>
  <div class="calorie-block padding-3 block">
    <div class="calorie-graph">
      <span class="numbers">1200/1500</span>
      <span>Calories</span>
    </div>
  </div>
  <div class="calorie-list padding-2 block">
    <div class="calorie-header">
      <span>Breakfast</span>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-plus-icon lucide-circle-plus">
        <circle cx="12" cy="12" r="10"/>
        <path d="M8 12h8"/>
        <path d="M12 8v8"/>
      </svg>
    </div>
    <div>
      <div class="calorie-item">
        <span>Hesburger friikartul</span>
        <span>280kcal</span>
      </div>
      <div class="calorie-item">
        <span>Peach Red Bull</span>
        <span>101kcal</span>
      </div>
      <span class="calorie-more">more...</span>
    </div>
    <div class="calorie-footer">500kcal</div>
  </div>
  <div class="calorie-list padding-2 block">
    <div class="calorie-header">
      <span>Lunch</span>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-plus-icon lucide-circle-plus">
        <circle cx="12" cy="12" r="10"/>
        <path d="M8 12h8"/>
        <path d="M12 8v8"/>
      </svg>
    </div>
    <div>
      <div class="calorie-item">
        <span>Hesburger friikartul</span>
        <span>280kcal</span>
      </div>
      <div class="calorie-item">
        <span>Peach Red Bull</span>
        <span>101kcal</span>
      </div>
      <span class="calorie-more">more...</span>
    </div>
    <div class="calorie-footer">500kcal</div>
  </div>
  <div class="calorie-list padding-2 block">
    <div class="calorie-header">
      <span>Dinner</span>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-plus-icon lucide-circle-plus">
        <circle cx="12" cy="12" r="10"/>
        <path d="M8 12h8"/>
        <path d="M12 8v8"/>
      </svg>
    </div>
    <div>
      <div class="calorie-item">
        <span>Hesburger friikartul</span>
        <span>280kcal</span>
      </div>
      <div class="calorie-item">
        <span>Peach Red Bull</span>
        <span>101kcal</span>
      </div>
      <span class="calorie-more">more...</span>
    </div>
    <div class="calorie-footer">500kcal</div>
  </div>
{% endblock %}