{% extends "base.njk" %}
{% block title %}
  Main Page
{% endblock %}
{% block body %}
  <div class="block main-graph">
    <div>20</div>
    <div>10</div>
    <div>0</div>
    <div class="graph">ssss</div>
    <div></div>
    <div>M</div>
    <div>T</div>
    <div>W</div>
    <div>T</div>
    <div>F</div>
  </div>
  <a class="block main-calories" href="calories.html">
    <div class="calorie-stack big">
      <span>1200/1500kcal</span>
      <span class="progressbar"></span>
    </div>
    <div class="calorie-group">
      <div class="calorie-stack small">
        <span>50/90g&nbsp;prtn</span>
        <span class="progressbar"></span>
      </div>
      <div class="calorie-stack small">
        <span>20/80g&nbsp;crbs</span>
        <span class="progressbar"></span>
      </div>
      <div class="calorie-stack small">
        <span>20/30g&nbsp;fats</span>
        <span class="progressbar"></span>
      </div>
    </div>
  </a>
{% endblock %}