.date-select
    padding: .5rem
    display: flex
    align-items: center
    justify-content: space-between
    gap: 0.5rem

.calorie-block
    aspect-ratio: 1/1
    display: grid
    place-items: center
    padding: 1.625rem

    .calorie-graph
        display: flex
        width: 100%
        height: 100%
        flex-direction: column
        align-items: center
        justify-content: center
        font-size: 1.5rem
        background: linear-gradient(var(--background-light), var(--background-light)) padding-box, conic-gradient(#49FF40 0%, #49FF40 30%, var(--accent) 30%, var(--accent) 50%, #FF40E5 50%,#FF40E5 100%) border-box
        border: 1.25rem solid transparent
        border-radius: 100vw

        .numbers
            font-size: 2rem

.calorie-list
    padding: 1rem
    .calorie-header
        display: flex
        align-items: center
        justify-content: space-between
        font-size: 1.25rem
        gap: 0.5rem
        color: var(--accent)
        padding-bottom: 0.5rem

    .calorie-item
        display: flex
        align-items: center
        justify-content: space-between
        gap: 0.5rem
        font-size: 0.875rem
        color: var(--text-darker)

    .calorie-more
        display: flex
        align-items: center
        justify-content: center
        color: var(--text-darker)
        font-size: 0.875rem
        padding-top: 0.25rem
        padding-bottom: 0.5rem

    .calorie-footer
        display: flex
        align-items: center
        justify-content: center
        font-size: 1rem
        padding-top: 1rem
        border-top: 1px solid var(--accent)

.main-graph
    padding: .5rem
    aspect-ratio: 1/1
    display: grid
    grid-template-rows: repeat(3, 1fr) max-content
    grid-template-columns: max-content repeat(5, 1fr)
    place-items: center

    .graph
        display: grid
        grid-column: 2 / span 5
        grid-row: 1 / span 3
        grid-template-rows: subgrid
        grid-template-columns: subgrid

.main-calories
    padding: 1rem
    display: grid
    place-items: center
    grid-template-columns: 1fr 1fr
    gap: .5rem
    > div
        width: 100%
    .calorie-stack
        display: flex
        place-items: center
        .progressbar
            width: 100%
            height: .875rem
            border: 1px solid var(--accent)
            background: linear-gradient(to right, var(--accent) 0%, var(--accent) 50%, transparent 50%, transparent 100%)
        &.big
            font-size: 1.25rem
            flex-direction: column

        &.small
            font-size: 0.875rem
            .progressbar
                height: .625rem
    .calorie-group
        display: grid
        grid-template-columns: 1fr 1fr
        .calorie-stack
            gap: .5rem
            display: grid
            grid-column: span 2
            grid-template-rows: subgrid
            grid-template-columns: subgrid
