$font-accent: "Playfair Display", serif
$font-main: "Karla", sans-serif

.movie_section
    display: flex
    align-items: stretch
    gap: 10px
    align-self: stretch
    border-bottom: 1px solid var(--text)
    background: var(--background)
    box-shadow: 0 5px 10px rgba(59, 19, 28, 0.101)
    padding-bottom: 1rem
    //add torn ticket effect if possible

    .poster
        display: flex
        width: 30%
        height: 100%
        padding: 10px 0
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 10px
        margin: 0

        img
            width: 100%
            height: auto
            border-radius: 8px
            box-shadow: 5px 5px 10px rgba(59, 19, 28, 0.05)

        figcaption
            font-size: 0.8rem
            color: gray
            text-align: center

    .movie_info
        flex: 1
        display: flex
        flex-direction: column
        gap: 20px
        padding: 0 20px

        h1
            color: var(--accent)
            font-family: $font-accent
            font-size: 6rem
            font-weight: 600
            text-transform: uppercase
            margin: 0

        .release_info
            display: flex
            align-items: center
            gap: 1rem
            align-self: stretch

        .movie_description
            line-height: 1.6
            text-wrap: pretty

        .movie_cast
            dt
                font-weight: bold

    .ratings_block
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 25%
        height: 100%
        gap: 10px
        font-family: $font-accent
        font-size: 1.5rem
        text-transform: uppercase

        .ratings_content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            height: 95%
            width: 100%
            border-left: var(--accent) solid 1px

            h2
                font-size: 1.65rem
                font-weight: 600
                margin: 0

            ul
                align-items: center
                display: flex
                flex-direction: column
                list-style: none
                padding: 0
                margin: 0

            .rating_source_name
                font-size: 1.3rem

            .rating
                margin-bottom: 10px
                display: flex
                align-items: center
                flex-direction: column
                font-weight: 600
                color: var(--accent)
.movie_showtimes_section
    background: var(--background-light)
    display: flex
    height: 536px
    padding: 50px 15px
    flex-direction: column
    align-items: flex-start
    gap: 10px
    align-self: stretch

    .sessions-grid
        display: flex
        padding: 58px 100px
        justify-content: space-between
        align-items: center
        align-self: stretch
        .sessions-list
            list-style: none
            border-left: var(--text) solid 1px

            &:first-of-type
                border: none
