@use "workout"
@use "overlay"
@use "calories"

:root
    --background: linear-gradient(to bottom, #18181F 0%, #131327 100%)
    --background-light: #1F1F28
    --accent: #40ECFF
    --text: #D9D9D9
    --text-darker: #A5A6A8
    --content-border: #232b2e
    --box-shadow: #0d1116

body, html
    background: #18181F

body
    min-block-size: 100vh
    min-block-size: 100svh
    display: grid
    grid-template-rows: auto 1fr auto
    font-family: Inter, sans-serif
    color: var(--text)
    background: var(--background)

    font-family: "Iceberg", sans-serif
    font-weight: 400
    font-style: normal

.header
    padding: 1.25rem
    padding-bottom: 0.625rem

.navbar
    display: flex
    align-items: center
    justify-content: space-between
    gap: 1rem
    font-size: 1.125rem //18px
    font-weight: 600

    .navbar-logo
        background-color: black
        border-radius: 50%

.main
    display: flex
    flex-direction: column
    padding: 1.25rem
    padding-top: 0
    gap: 0.625rem

.block
    background: var(--background-light)
    border-radius: 1.25rem
    box-shadow: 5px 8px 8px var(--box-shadow)


footer
    position: sticky
    background: var(--background-light)
    height: 3rem
    position: sticky
    bottom: 0
    display: grid
    grid-template-columns: 1fr max-content 1fr
    place-items: center
    border-top: 1px solid var(--content-border)
    color: var(--accent)
    box-shadow: 0px -3px 20px var(--box-shadow)

    .plus
        position: relative
        display: flex
        align-items: center
        justify-content: center
        background: var(--background-light)
        color: var(--accent)
        border: 1px solid var(--accent)
        border-radius: 50%
        width: 50px
        height: 50px
        bottom: 8px
        cursor: pointer
        box-shadow: 0px -5px 20px var(--box-shadow)
        transition: all 0.2s ease

        &:hover
            color: var(--background-light)
            background: var(--accent)
            scale: 1.1

        &:active
            color: var(--background-light)
            background: white
            scale: 0.9

    svg
        transition: all 0.2s ease
        &:hover
            color: white

@media (min-width: 1025px)
    body
        font-size: 1.5rem

    header
        .navbar
            font-size: 2rem
        svg
            width: 2rem
            height: 2rem

    .main-calories
        padding: 2rem
        .calorie-stack
            &.big
                font-size: 1.75rem
            &.small
                font-size: 1.2rem

    .block
        width: 30vw
        margin-left: auto
        margin-right: auto

        legend
            font-size: 2rem

        input
            width: 30%
            font-size: 1.2rem

        .workout-card
            font-size: 2rem

        .text-block

            .day-name
                font-size: 2rem
                font-weight: 700

            .day-description
                font-size: 1.5rem

        .muscles-img
            width: 50%

    .overlay
        align-items: center
        .overlay-buttons
            width: 30vw

@media (min-width: 600px) and (max-width: 1024px)

    header
        svg
            width: 4rem
            height: 4rem

    body
        font-size: 2.5rem

    .main
        padding-bottom: 5rem

    footer
        height: 5rem
        padding: 0 2rem 0

        .plus
            width: 5rem
            height: 5rem
            bottom: 1rem
            border: solid 2px

        svg
            width: 3rem
            height: 3rem
            transition: all 0.2 ease

    .block
        width: 70vw
        margin-left: auto
        margin-right: auto

        legend
            font-size: 2.5rem

        input
            width: 35%

    .workout-card
        font-size: 2rem

        .text-block

            .day-name
                font-size: 3rem
                font-weight: 700

            .day-description
                font-size: 2rem

        .muscles-img
            width: 50%

    .overlay
        padding-bottom: 10vh
        .overlay-buttons
            width: 100vw

            a
                font-size: 3rem
                padding: 2rem

    .navbar
        font-size: 3rem

    .date-select
        padding: 2rem
        font-size: 3.5rem
    svg
        width: 3.5rem
        height: 3.5rem

    .calorie-block

        .calorie-graph
            font-size: 2rem
            .numbers
                font-size: 4rem

    .calorie-list
        font-size: 2rem

        .calorie-header
            font-size: 3rem
            svg
                width: 3rem
                height: 2.5rem

        .calorie-item
            font-size: 2.5rem
        .calorie-footer
            font-size: 2.5rem
        .calorie-more
            font-size: 2.5rem

    .main-calories *
        font-size: 2rem
